$mainColor: #FF4F49;

$width: 768px;

$widthtablet: 1180px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
};

@mixin tablet{
    @media (max-width: #{$widthtablet}){
        @content
    }
}
